{{- if eq .Kind "page" }}
<nav aria-label="breadcrumb">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item">
                <span itemprop="name">{{ i18n "home" | default "Home" }}</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        {{- $position := 2 }}
        {{- range .Sections }}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ .Permalink }}" itemprop="item">
                <span itemprop="name">{{ .Title }}</span>
            </a>
            <meta itemprop="position" content="{{ $position }}" />
        </li>
        {{- $position = add $position 1 }}
        {{- end }}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">{{ .Title }}</span>
            <meta itemprop="position" content="{{ $position }}" />
        </li>
    </ol>
</nav>
{{- end }}